<%- include ../master/header %>
  <div class="container direction_rtl">
    <div class="row" style="margin-top:50px;">
      <div class="col-sm-4 col-sm-offset-4">
      <h3 class="samim">ورود به سیستم</h3>
        <div class="panel panel-primary samim">
          <div class="panel-heading text-right samim">ورود به سامانه</div>
          <div class="panel-body">
            <% if(register) {%>
              <div class="alert alert-info">
                <strong>ایول</strong>
                <p>ثبت نام شما با موفقیت انجام شد. جهت تکمیل ثبت نام ایمیل خود را بررسی نمایید</p>
              </div>
            <%}%>
            <% if (typeof errors != 'undefined' && errors.length > 0) {%>
              <div class="alert alert-danger direction_rtl text-right samim">
                <strong>خطا ... !</strong>
                <ul>
                  <% for (i=0;i<errors.length;i++) { %>
                    <li><%= errors[i].msg %></li>
                  <% } %>
                </ul>
              </div>
            <% } %>
            <% if(typeof confirmed != 'undefined' && confirmed == true) {%>
              <div class="alert alert-success">
                <strong>ایول</strong>
                <p>ایمیل شما با موفقیت تایید شد. هم اکنون می توانید وارد شودی</p>
              </div>
            <%}%>
            <form action="/login" method="post">
              <div class="form-group samim">
                <label for="email">ایمیل</label>
                <input type="email" name="email" id="email" class="form-control">
              </div>
              <div class="form-group samim">
                <label for="password">رمز عبور</label>
                <input type="password" name="password" id="password" class="form-control">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary">ورود</button>
                <a href="/register" class="btn btn-block btn-danger">ثبت نام</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include ../master/footer %>