<%- include ../master/header %>

<div class="container directional_rtl">
	<div class="row" style = "margin-top: 40px;">
		<div class="col-sm-12 text-right">
			<h3 class="samim">تغییر اطلاعات کاربران <div class="fa fa-cog"></div></h3>
		</div>
		<div class="col-sm-8">
			<div class="panel panel-primary samim">
				<div class="panel-body">
					 <table class="table direction_rtl table-striped table-hover">
			  		<tr>
			  			<td>ردیف</td>
			  			<td>ایمیل</td>
			  			<td>نام</td>
			  			<td>تاریخ عضویت</td>
						<td>دسترسی کامل</td>
						<td>حذف کاربر</td>
			  		</tr>
				  </table>
				</div>
			</div>
		</div>
		<%- include leftmenu %>
	</div>
</div>

<%- include ../master/footer %> 