<%- include ../master/header %>

<div class="container directional_rtl">
	<div class="row" style = "margin-top: 40px;">
		<div class="col-sm-8">
			  <div class="form-group samim">
				  <textarea class="form-control" rows="20" ></textarea>
			  </div>
		</div>
		<%- include leftmenu %>
</div>

<%- include ../master/footer %> 