				<div class="col-sm-4">
					<ul class="nav nav-pills nav-stacked text-right">
					  <li class="samim"><a href="/admin">صفحه اصلی<span class="fa fa-home"></span></a></li>
					  <li class="samim"><a href="/admin/info">اطلاعات ادمین <span class="fa fa-info-circle"></span></a></li>
					  <li class="samim"><a href="/admin/change">مدیریت دسترسی کاربران <span class="fa fa-cog"></span></a></li>
					</ul>
				</div>