<%- include ../master/header %>

<div class="container directional_rtl">
	<div class="row" style = "margin-top: 40px;">
		<div class="col-sm-8">
			  <div class="form-group samim">
				  <textarea class="form-control" rows="20" ></textarea>
			  </div>
		</div>
		<div class="col-sm-4">
			<ul class="nav nav-pills nav-stacked text-right">
			  <li role="presentation" class="active samim directional_rtl"><a href="/info">اطلاعات کاربر<i class="fa fa-info-circle"></i></a></li>
			  <li role="presentation" class = "samim" directional_rtl><a href="/change">مدیریت دسترسی کاربران<i class="fa fa-cog"></i></a></li>
			</ul>
		</div>
	</div>
</div>

<%- include ../master/footer %> 