<%- include ../master/header %>

<div class="container directional_rtl">
	<div class="row" style = "margin-top: 40px;">
		<div class="col-sm-12 text-right">
			<h3 class="samim">اطلاعات کاربر <div class="fa fa-user"></div></h3>
		</div>
		<div class="col-sm-8">
			<div class="panel panel-primary samim direction_url text-right">
				<div class="panel-heading">اطلاعات کاربر</div>
				<div class="panel-body">
					
				</div>
			</div>
		</div>
		<%- include leftmenu %>
	</div>
</div>

<%- include ../master/footer %> 