				<div class="col-sm-4">
					<ul class="nav nav-pills nav-stacked text-right">
					  <li class="samim"><a href="/panel">صفحه اصلی<span class="fa fa-home"></span></a></li>
					  <li class="samim"><a href="/panel/info">اطلاعات کاربر <span class="fa fa-info-circle"></span></a></li>
					</ul>
				</div>